<!doctype html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Administration</title>

   {{ encore_entry_link_tags('app') }}

    <style>
        body{
            display: flex;
            justify-content: center;
            height: 100vh;
        }
        .card {
            margin-top: 10%;
        }
    </style>
</head>
<body>
<div class="col-md-4">
    <div class="card bg-light">
        <h4 class="card-header">
            <i class="fas fa-lock"></i>
            Connexion à l'administration
        </h4>
    </div>
    <div class="card-body">
        {% if hasError %}
        <div class="alert alert-warning">
            <p>Les informations que vous avez fournies ne sont pas bonnes.</p>
        </div>
        {% endif %}
        <form method="post">
            <div class="form-group">
                <label for="_username">Username</label>
                <input type="text" class="form-control" id="_username" placeholder="Adresse email ..." name="_username" value="{{username}}">
            </div>
            <div class="form-group">
                <label for="_password">Mot de passe</label>
                <input type="password" class="form-control" placeholder="Mot de passe ..." name="_password" id="_password">
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary">
                    <i class="fas fa-lock-open"></i>
                    Connexon !
                </button>
                <a href="{{ path('home') }}" class="btn btn-link">
                    <i class="fas fa-arrow-circle-left"></i>
                    Retour au site
                </a>
            </div>
        </form>
    </div>
</div>
</body>
</html>